.thumbIcon {
  color: white;
}
.iconStack {
  font-size: 10em;
}
#circleBgSite {
 color: crimson;
}
#stackSite:hover > #circleBgSite {
 color: rgba(237, 20, 61, 0.49);
}
#stackTool:hover > #circleBgTool {
 color: rgba(237, 20, 61, 0.49);
}
#stackTransfer:hover > #circleBgTransfer {
 color: rgba(237, 20, 61, 0.49);
}
#stackDictionary:hover > #circleBgDictionary {
 color: rgba(237, 20, 61, 0.49);
}
.stackAdd:hover > .linkCrudAdd {
 color: rgba(237, 20, 61, 0.49);
}
.stackRemove:hover > .linkCrudRemove {
 color: rgba(237, 20, 61, 0.49);
}
.stackFilter:hover > .linkCrudFilter {
 color: rgba(237, 20, 61, 0.49);
}
#circleBgTool {
 color: black;
}
#circleBgTransfer {
 color: yellowgreen;
}
#circleBgDictionary {
 color: orange;
}
.panel-title:hover {
  text-decoration: none;
  color: #777;
}
#upcAccordian, #oodAccordian:hover {
  cursor: pointer;
}
.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.075);
}
.footerSecondary {
  position: absolute;
}
.placeholder-secondary {
 font-size: 50px;
 text-align: center;
}
.crudIcons {
 margin-bottom: 10px;
}
.linkCrudAdd {
 color: green;
}
.linkCrudRemove {
 color: red;
}
.linkCrudFilter {
 color: orange;
}
.filterRow {
 margin-top: 10px;
 margin-bottom: 10px;
}